.assets-view {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 var(--lumo-space-l);
}

.asset-view {
  width: 211px;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, box-shadow;
    margin-right: 9px;
    margin-bottom: 9px;
}

.asset-view img {
  width: 211px;
}

.asset-view:hover {
  background-color: var(--lumo-base-color);
  box-shadow: var(--lumo-box-shadow-s);
}
